.sh{
    margin-top: 100px;
}
.sh_form {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    gap: 15px;
}
.sh_form input{
    max-width: 300px;
}
.sh_form input[name="pre_phone"]{
    width: 60px;
    direction: ltr;
}
.sh_app{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sh_img {
    display: flex;
    flex-direction: column;
}
#uploaded{
    width: 200px;
    height: 200px;
}
#uploader{
    width: 200px;
    height: 40px;
}